    <!-- Pictures Section -->
    <script src="../assets/js/main.js" defer></script>
    <h2>Gallery</h2>
     <div class="grid-wrapper">
    
        <div>
            <img src="../assets/images/grid-wrapper/image1.jpg">
        </div>
        <div class="big">
            <img src="../assets/images/grid-wrapper/image2.jpg">
        </div>
        <div class="tall">
            <img src="../assets/images/grid-wrapper/image3.jpg">
        </div>
        <div>
            <img src="../assets/images/grid-wrapper/image4.jpg">
        </div>
        <div>
            <img src="../assets/images/grid-wrapper/image5.jpg">
        </div>
        <div>
            <img src="../assets/images/grid-wrapper/image6.jpg">
        </div>
        <div>
            <img src="../assets/images/grid-wrapper/image7.jpg">
        </div>
        <div class="tall">
            <img src="../assets/images/grid-wrapper/image8.jpg">
        </div>
        <div class="big">
            <img src="../assets/images/grid-wrapper/image9.jpg">
        </div>
        <div>
            <img src="../assets/images/grid-wrapper/image10.jpg">
        </div>
        <div>
            <img src="../assets/images/grid-wrapper/image11.jpg">
        </div>
        <div>
            <img src="../assets/images/grid-wrapper/image12.jpg">
        </div>
        <div class="big">
            <img src="../assets/images/grid-wrapper/image13.jpg">
        </div>
        <div>
            <img src="../assets/images/grid-wrapper/image14.jpg">
        </div>
        <div>
            <img src="../assets/images/grid-wrapper/image15.jpg">
        </div>
        <div>
            <img src="../assets/images/grid-wrapper/image16.jpg">
        </div>
        <div>
            <img src="../assets/images/grid-wrapper/image17.jpg">
        </div>
        <div>
            <img src="../assets/images/grid-wrapper/image18.jpg">
        </div>
        <div>
            <img src="../assets/images/grid-wrapper/image19.jpg">
        </div>
      </div>

    
