<div class="pricing-section">
    <h2>Plans</h2>
    <div class="pricing">
        <div class="pricing-card">
          <h3>Flex</h3>
          <h1>199€</h1>
          <p><em>Per month incl. VAT</em></p>
          <p>Get full access to any available desk for as any hours as you want every day of the week. VAT is included is the price</p>
          <button class="signup-btn">Sign up</button>
        </div>

        <div class="pricing-card popular">
          <span class="badge">POPULAR</span>
          <h3>Dedicated desk</h3>
          <h1>250€</h1>
          <p><em>Per month incl. VAT</em></p>
          <p>Get full access to the space and your own dedicated desk. Bring your stuff, get your own key and start working. VAT is included in the price.</p>
          <button class="signup-btn">Sign Up</button>
        </div>

        <div class="pricing-card">
          <h3>Unlimited Access</h3>
          <h1>$99</h1>
          <p><em>One time payment</em></p>
          <p>Get anytime access to the Become a Content Expert Course that includes multiple classes, workshops, and exclusive content. New items added every month.</p>
          <button class="signup-btn">Sign Up</button>
        </div>

        <div class="pricing-card popular">
          <span class="badge">POPULAR</span>
          <h3>Unlimited Access + Coaching</h3>
          <h1>$199</h1>
          <p><em>One time payment</em></p>
          <p>Get anytime access to the full Become A Content Expert Course plus personal 1-on-1 individualized coaching. New items added every month.</p>
          <button class="signup-btn">Sign Up</button>
        </div>
    </div>
</div>