<div class="pricing-section">
    <h2>Plans</h2>
    <div class="pricing">

        <div class="pricing-card popular">
          <span class="badge">POPULAR</span>
          <h3>Dedicated desk</h3>
          <h1>250€</h1>
          <p><em>Per month incl. VAT</em></p>
          <p>Get full access to the space and your own dedicated desk. Bring your stuff, get your own key and start working. VAT is included in the price.</p>
          <button class="signup-btn">Sign Up</button>
        </div>

        <div class="pricing-card">
          <h3>3 days/week</h3>
          <h1>185€</h1>
          <p><em>Per month incl. VAT</em></p>
          <p>Get access to to a shared desk 3 days per week. Get your own key. VAT is included is the price.</p>
          <button class="signup-btn">Sign up</button>
        </div>

        <div class="pricing-card">
          <h3>2 days/week</h3>
          <h1>149€</h1>
          <p><em>Per month incl. VAT</em></p>
          <p>Get access to to a shared desk 2 days per week. Get your own key. VAT is included is the price.</p>
          <button class="signup-btn">Sign Up</button>
        </div>

        <div class="pricing-card popular">
          <span class="badge">POPULAR</span>
          <h3>Nomad</h3>
          <h1>110€</h1>
          <p><em>Per month incl. VAT</em></p>
          <p>Take a seat in the common room, in the veranda or in the garden. Unpack your laptop and get to work! 24/7 access. Get your own key. VAT is included in the price.</p>
          <button class="signup-btn">Sign Up</button>
        </div>
    </div>
</div>