<section class="services">
    <h2 >Services</h2>
    <div class="service-grid">
      <div class="service-box">
        <h3>Kaffee</h3>
        <i class="material-icons">coffee</i>
        <p>Kaffee und Tee stehen kostenlos zur Verfügung.</p>
      </div>
      <div class="service-box">
        <h3>High-Speed Internet</h3>
        <i class="material-icons">wifi</i>
        <p>Zuverlässiges Hochgeschwindigkeits-Internet</p>
      </div>
      <div class="service-box">
        <h3>Zugang über App</h3>
        <i class="material-icons">key</i>
        <p>24/7 Zugang über die Smartphone App Nuki</p>
      </div>
      <div class="service-box">   
        <h3>Verpflegung</h3>
        <i class="material-icons">kitchen</i>
        <p>Selbst kochen oder auswärts genießen</p>
      </div>
      <div class="service-box">       
        <h3>Direkter Zugang</h3>
        <i class="material-icons">door_front</i>
        <p>Eigener straßenseitiger Eingang zum Office-Space</p>
      </div>
      <div class="service-box">       
        <h3>Innenhof</h3>
        <i class="material-icons">yard</i>
        <p>Eigener Hof zum Office-Space</p>
      </div>
    </div>
  </section>