<div class="pricing-section">
    <h2>Plans</h2>
    <div class="pricing">

        <div class="pricing-card popular">
          <span class="badge">POPULAR</span>
          <h3>Dedicated desk</h3>
          <h1>250€</h1>
          <p><em>Per month incl. VAT</em></p>
          <p>Erhalte vollen Zugang zum Space und deinen eigenen dedizierten Arbeitsplatz. Bring deine Sachen mit, hol dir deinen eigenen Schlüssel und fang an zu arbeiten. Die Mehrwertsteuer ist im Preis enthalten.</p>
          <a href="pages/contact.html" class="signup-btn">Kontakt</a>
        </div>

        <div class="pricing-card">
          <h3>3 days/week</h3>
          <h1>185€</h1>
          <p><em>Per month incl. VAT</em></p>
          <p>Erhalte Zugang zu einem Shared Desk an 3 Tagen pro Woche. Hol dir deinen eigenen Schlüssel. Die Mehrwertsteuer ist im Preis enthalten.</p>
          <a href="pages/contact.html" class="signup-btn">Kontakt</a>
        </div>

        <div class="pricing-card">
          <h3>2 days/week</h3>
          <h1>149€</h1>
          <p><em>Per month incl. VAT</em></p>
          <p>Erhalte Zugang zu einem Shared Desk an 2 Tagen pro Woche. Hol dir deinen eigenen Schlüssel. Die Mehrwertsteuer ist im Preis enthalten.</p>
          <a href="pages/contact.html" class="signup-btn">Kontakt</a>
        </div>

        <div class="pricing-card popular">
          <span class="badge">POPULAR</span>
          <h3>Nomad</h3>
          <h1>110€</h1>
          <p><em>Per month incl. VAT</em></p>
          <p>Nimm Platz im Gemeinschaftsraum, auf der Veranda oder im Garten. Pack deinen Laptop aus und leg los! 24/7 Zugang. Hol dir deinen eigenen Schlüssel. Die Mehrwertsteuer ist im Preis enthalten.</p>
          <a href="pages/contact.html" class="signup-btn">Kontakt</a>
        </div>
    </div>
</div>