@import url('variables.css');


/*footer*/

.footer {
    color: var(--color2);
    text-align: center;
    padding: 1%;
    margin-top: 0;
  }
  
  .footer a {
    color: var(--color2);
    text-decoration: none;
  }

  .footer nav ul {
    justify-content: center;
  }

  .footer nav ul li a {
    color: black;
    text-decoration: none;
    font-size: var(--fontsize-p);
  }
