
@import url('variables.css');

/* Services Section */
.services {
    padding: 0%;
    margin: 0px;
  }
  
  .services h2 {
    text-align: center;
    font-size: var(--fontsize-h2);
    margin-bottom: 40px;
    font-family: var(--font-primary);
  }
  
  .service-grid {
    display: grid;
    padding: 20px;
    grid-template-columns: repeat(3, 1fr); /* Responsive grid */
    gap: 40px; /* Space between boxes */
  }
  
  .service-box {
    background: var(--color1);
    padding: 20px;
    text-align: center;
    transition: transform 0.7s ease, box-shadow 0.5s ease;
  }
  
  .service-box:hover {
    transform: translateY(-5px); /* Slight lift on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Enhanced shadow on hover */
    background-color: var(--color4);
  }
  
  .service-box:hover h3,
  .service-box:hover p {
    color: #EFE7DA; /* Change text color on hover */
  }
  
  .service-box h3 {
    font-size: var(--fontsize-h3);
    margin-bottom: 15px;
    color: #333;
  
  }
  
  .service-box p {
    font-size: var(--fontsize-p);
    color: black;
  }

  .service-box .material-icons {
    font-size: var(--fontsize-h3);
    color: var(--color5)
  }

  @media (max-width: 768px) {
    .service-grid {
      display: grid;
      padding: 20px;
      grid-template-columns: repeat(1, 1fr); /* Responsive grid */
      gap: 20px; /* Space between boxes */
    }
  }