/* Global Variables */
:root {
    /* 🎨 Colors */
    --color1: #93866B; /* Light color 93866B bad083 7D3D3B 825B3F 424547*/
    --color2: #bdbab8; /* Background color */
    --color3: #7D3D3B; /* Text color */
    --color4: #825B3F; /* sSecondary color) */ 
    --color5: #94a668;  /* call to action */
    
    /* 🖋️ Fonts */
    --font-primary: 'Playfair Display', serif;
    --font-secondary: 'Lora', serif;

    /* 🏗️ Layout Defaults  */
    --border-radius: 0;
    --transition-speed: 0.3s;

    /* Font size */
    
    --fontsize-h1: 7rem;
    --fontsize-p: 1.25rem;
    --fontsize-h2: 5rem;
    --fontsize-h3: 2rem;

    --fontsize-tablet-h1: 7rem;
    --fontsize-tablet-p: 1.5rem;
    --fontsize-tablet-h2: 5rem;
}

@media (max-width: 768px) {
    :root {
        --fontsize-h1: 3rem;
        --fontsize-p: 0.85rem;
        --fontsize-h2: 2rem;
        --fontsize-h3: 1.25rem;
    }
}

