/* Global Variables */
:root {
    /* 🎨 Colors */
    --color1: #EEDEC5; /* Light color 93866B bdbab8 braun 7D3D3B 825B3F 424547*/
    --color2: #be4343; /* Background color bdbab8 */
    --color3: #7D3D3B; /* Text color ffbe98 */ 
    --color4: #be4343; /* Secondary color */ 
    --color5: #94a668;  /* call to action 94a668*/
    
    /* 🖋️ Fonts */
    --font-primary: 'Playfair Display', sans-serif;
    --font-secondary: 'Lora', sans-serif;

    /* 🏗️ Layout Defaults  */
    --border-radius: 0;
    --transition-speed: 0.3s;

    /* Font size */
    
    --fontsize-h1: 7rem;
    --fontsize-p: 1.25rem;
    --fontsize-h2: 5rem;
    --fontsize-h3: 2rem;

    --fontsize-tablet-h1: 7rem;
    --fontsize-tablet-p: 1.5rem;
    --fontsize-tablet-h2: 5rem;
}

@media (max-width: 768px) {
    :root {
        --fontsize-h1: 3rem;
        --fontsize-p: 0.85rem;
        --fontsize-h2: 2rem;
        --fontsize-h3: 1.25rem;
    }
}

